body {
	font-family: $fontFamily;
	font-size: $fontSize;
	color: $black;
}

.container {
	max-width: $maxWidthContainer;
	padding: 0 15px;
	margin: 0 auto;
}

.wraper {
	display: flex;
	flex-direction: column;
	height: 100%;
}
