$fontFamily: 'ProximaNova-Regular';
$fontSize: 14px;
$maxWidthContainer: 1270px;

//brack paints
$bp1: $maxWidthContainer + 12px;
$bp2: 992px;
$bp3: 767px;
$bp4: 479px;

//fonts

$semibold: 'ProximaNova-Semibold';
$extraBold: 'ProximaNova-Extrabld';
$regular: 'ProximaNova-Regular';

//---- color

$black: #000000;
$white: #fff;
$gray: #c7c7c7;
