<div class="menu-burger">
	<button class="menu-burger__btn">
		<span class="line_1"></span>
		<span class="line_2"></span>
		<span class="line_3"></span>
	</button>

	<nav class="menu-burger__nav-bar">
		<img class="header__logo" src="./img/icons_and_logo/logo.png" alt="logo" "> @@include('headerSerchForm.html')

		<ul class="menu-burger__list">
			<li class="menu-burger__item"><a href="#" class="menu-burger__link">shop</a></li>
			<li class="menu-burger__item"><a href="#" class="menu-burger__link">team </a></li>
			<li class="menu-burger__item"><a href="#" class="menu-burger__link">events </a></li>
			<li class="menu-burger__item"><a href="#" class="menu-burger__link">experience</a></li>
			<li class="menu-burger__item"><a href="#" class="menu-burger__link">company</a></li>
			<li class="menu-burger__item"><a href="#" class="menu-burger__link">contact</a></li>
		</ul>
	</nav>
</div>
